body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    overflow: auto;
    background-color: #F0E6DA;
    color: white;
}

h1 {
    color: #707070;
    font-size: 50px;
}

img {
    display: block;
    overflow: hidden;
    width: 100%
}

* {
    box-sizing: border-box;
}

p {
    text-align: left;
    font-size: 18px;
    line-height: 150%;
}

h2 {
    font-size: 30px;
    color: #707070;
}

a:link {
    color: #707070;
    font-weight: bold;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.header {
    background-color: #BDA68A;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 1;
}

.header a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.header a:hover {
    background: #ddd;
    color: black;
}

.center-menu {
    margin: auto;
}

.main {
    max-width: 1500px;
    margin: 50px auto 0 auto;
}

.top-container {
    background-image: url('img/Tree.jpg');
    height: 900px;
    padding-top: 250px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.plant-box {
    background-color: #F0E6DA;
    border: 5px solid #305640;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    float: left;
    width: 100%;
    margin: 3% 0;
}

.left-side {
    float: left;
    width: 50%;
}

.text-box {
    width: 70%;
    background-color: #F4FDFE;
    border: 2px solid #305640;
    margin: 0 auto;
    text-align: center;
    padding: 3% 6%;
    color: #707070;
    
}

.right-side {
    float: right;
    width: 50%;
}

.clima-image-box {
    width: 70%;
    margin: 0 auto;
}

.image-storm-container {
    width: 100%;
    border: 2px solid #305640;
}

.image-protest-container {
    width: 100%;
    border: 2px solid #305640;
}

.image-dead-container {
    width: 70%;
    border: 2px solid #305640;
    margin: 0 auto;
}

.image-sappling-container {
    width: 70%;
    border: 2px solid #305640;
    margin: 0 auto;
}

.footer {
    display: flex;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: #BDA68A;
    color: white;
}

.contact-info {
    flex: auto;
}

.to-the-top {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    float: center;
}

@media only screen and (max-width: 900px) {
    .top-container {
        height: 650px;
        padding-top: 185px;
        background-size: 100%;
    }
    @media only screen and (max-width: 900px){

    }
}